# Ref: https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
# Ignore everything
*

# But not these files...
!/.github/**
!/.gitignore

!/docs/**

!*.go
!go.sum
!go.mod

!LICENSE
!README.md

!Makefile

!.golangci.yml
!.goreleaser.yml

# ...even if they are in subdirectories
!*/
